.home-page {
  /* padding: 2rem 2rem 2rem 2rem; */
  padding-top: 2rem;
  background-color: #ffffff;
  min-height: 100vh;
}

.home-heading {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #2e0460;
}

.book-card {
  /* width: 100%; */
  max-width: 250px;
  height: 350px;
  /* margin: auto; */
  border-radius: 16px;
  background: white;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease;
}

.book-card:hover {
  transform: scale(1.05);
  background-color: #e0f7fa;
}

.card-image {
  height: 230px;
  object-fit: cover;
  padding: 0.5rem;
}

.card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
  text-align: center;
}

.card-title {
  font-weight: 600;
  min-height: 30px;
}

@media (max-width: 768px) {
  .home-heading {
    font-size: 28px;
  }

  .book-card {
    height: auto;
    max-width: 100%;
  }
}
